.left_menu {
  width: 80px;
  background: lightsalmon;
  text-align: center;
  li {
    width: 80px;
    &:hover {
      background: red;
      color: #fff;
    }
    a {
      display: inline-block;
      width: 100%;
      height: 48px;
      line-height: 48px;
    }
  }
}
